

body {background-color:mediumpurple;}
.logo {width:150px; height:50px; padding-left:25px; float:left;}
.logo {font-family:Hunters K-Pop; color:white; font-size: 50px;}

.menu {align-content: center; width:850px; height:45px; padding-left:150px; padding-right:150px; padding-top:5px; float:left;}
.menu a {color:ghostwhite; text-decoration:none; font-size:20px;}
ul li {display: inline; margin: 50px;}

.avaiablework { align-content: center; width:auto; height:50px; padding-right:25px; float:right;}

.clearfix {clear:both;}

.banner {background-color:palegoldenrod ; height:650px;}

.gap {height:30px; background-color:red;}

.work {background-color:aliceblue; height:350px; width:1450px; margin-left:25px;}

.tool {background-color:cadetblue; height:75px;}

.gap2 {height:50px; background-color:red;}

.about { background-color:aliceblue; height:500px;}

.showcase {background-color:gold; height:250px; width:1450px; margin-left:25px;}

.contact {background-color:lightcoral; height: 175px;}

.footer {background-color:lightgray; height:100px;}